@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

body {
    font-family: 'Montserrat Alternates', sans-serif;
}

p {
    text-align: justify;
    line-height: 25px;
}

.card-content .id {
    display: none;
}
